$primary-color: #000;
$white-color: #fff;
$button-bg: #fe6a57;
$gray-color: #d1d1d1;
$gray-color2: #f5f5f5;
$button-border-white: #ffffff;
$bg-white: #fff;
$black-color: #555555;
$black-color2: #292929;
$black-bg: #000000;
$black-color3: #040b09;
$black-color4: #272727;
$footer-bg: #f7f7f7;
$bg-2: #f7f5f5;

$footer-box-bg: #0d4364;
$heading-text-color: #0d4364;
$sub-text-color: #747474;
$sub-text-color2: #707070;

$bg-white-op1: rgba(255, 255, 255, 0.1);
