
  $transition-duration-small: 0.15s;
  $transition-easing: ease;

  $page-background-primary: #ebedef;
  $color-white: #ffffff;
  $border-color: #e0e0e0;
  $border:#1e1e1e;
  $blue-color:#221169;

